.button {
    -fx-font-weight: bold;
}

.dragicon {
    -fx-background-radius: 10; 
}

.node-overlay {
    -fx-background-radius: 10 10 0 0;
    -fx-background-color:
        linear-gradient(to bottom, rgba(255,255,255,0.7) 15%, rgba(50,100,150,0.45) 100%);

}

.link-black{
    -fx-stroke : #000000;
}
.link-red{
    -fx-stroke : #ff0000;
}
.link-bleu{
    -fx-stroke : #0000ff;
}
.link-green{
    -fx-stroke : forestgreen;
}

.right-link-handle:hover {
    -fx-background-radius: 0 0 10 0;
    -fx-background-color:
        rgba(255, 255, 255, 0.35);
}

.left-link-handle:hover {
    -fx-background-radius: 0 0 0 10;
    -fx-background-color:
        rgba(255, 255, 255, 0.35);
}

.icon-color {
    /*-fx-background-color: #B5D3F1;*/
    -fx-background-color: #ffffff;
}

.icon-router-ler {
    -fx-background-image: url("../../../com/mpls/images/router-red.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center bottom;
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
}

.icon-router-lsr {
    -fx-background-image: url("../../../com/mpls/images/router-blue.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center bottom;
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
}

.icon-router {
    -fx-background-image: url("../../../com/mpls/images/router.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center bottom;
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
}
.icon-r10700 {
    -fx-background-image: url("../../../com/mpls/images/10700.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center bottom;
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
}
.icon-csr {
    -fx-background-image: url("../../../com/mpls/images/csrouter.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center bottom;
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
}
.icon-itp {
    -fx-background-image: url("../../../com/mpls/images/itp.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center bottom;
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
}
.icon-rss {
    -fx-background-image: url("../../../com/mpls/images/rss.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center bottom;
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
}
.icon-tdm {
    -fx-background-image: url("../../../com/mpls/images/tdm.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center bottom;
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
}
.icon-voice {
    -fx-background-image: url("../../../com/mpls/images/voice.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center bottom;
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
}
